@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/***** FONT FAMILY*****/
.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

/*****NAV BAR*****/
.header {
    width: 100%;
    height: 5rem;
    /* background-color: red; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-bar {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    height: 100%;
    padding: .5rem;
}

.nav-bar .logo {
    cursor: pointer;
}

.nav-links {
    display: flex;
    list-style: none;
    align-items: center;
}


.nav-links li a {
    text-decoration: none;
    padding: 1.3rem;
    color: #000000;
    font-size: 1.2rem;
}

.nav-links li a:hover {
    color: #3CAC8A;
}

.nav-link::after {
    content: "";
    background-color: #3CAC8A;
    display: block;
    width: 0px;
    height: .3rem;
    margin: 0 auto;
    transition: width ease-in-out .3s;
}

.nav-link:hover::after {
    width: 100%;

}

.book-tickets {
    padding: .3rem;
    cursor: pointer;
    border-radius: .3rem;
    background-color: #dc1515;
    color: white;
    border: none;
    height: 2.8rem;
    width: 8rem;
    font-size: 1rem;
    transition: background-color linear 300ms;
}

.book-tickets:hover {
    background-color: #f80303;

}

/*****MAIN CONTENT*****/

/* Banner Section */
.main-content {
    width: 69rem;
    margin: 0 auto;
}

.banner-content {
    width: 69rem;
    margin: 0 auto;
    position: relative;
}

.banner-text {
    position: absolute;
    top: 18rem;
    left: 13rem;
    letter-spacing: .3rem;
    line-height: 5rem;
}

.banner-text button {
    width: 15rem;
    height: 4rem;
    font-size: 1.7rem;
    margin-top: 2rem;
}

.banner-title {
    color: rgb(184, 188, 188);
    font-size: 2rem;
}

.author {
    font-size: 4rem;
    color: white;
}

.banner-content img {
    width: 69rem;
}

/* Trek Section */
.treks {
    margin-top: 2.5rem;
}

.trek-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1.3rem;
}

.trek-title {
    text-align: center;
    font-size: 1.8rem;
}

.trek-card {
    width: 22rem;
    margin-top: 2rem;
    transition: box-shadow 0.3s ease-in-out;
}

.trek-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* Stronger shadow on hover */
}

.card-body {
    overflow: hidden;
}

.card-body>:not(.img-container) {
    padding: .8rem;
}

.img-container {
    width: 100%;
    height: 15rem;
    overflow: hidden;
}

.card-body img {
    width: 100%;
    height: 15rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.card-body img:hover {
    transform: scale(1.1);
}

.trek-name span {
    font-weight: 600;
    cursor: pointer;
    font-size: 1.3rem;
}

.trek-name span:hover {
    color: #A2C04C;
    transition: color linear 200ms;
}

.card-description {
    line-height: 1.8rem;
    height: 13rem;
}

.trek-book button {
    margin: 1.2rem 0;
}

/* Quote Section */
.quote {
    position: relative;
    margin-top: 3rem;

}

.quote::after {
    content: "";
    display: block;
    height: 12rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    border-radius: .8rem;
}

.quote-text {
    position: absolute;
    color: white;
    font-weight: bolder;
    font-size: 2rem;
    width: 30rem;
    top: 1.8rem;
    left: 1rem;
    z-index: 999;
}

.quote img {
    width: 100%;
    height: 12rem;
    border-radius: .8rem;
}

/* Little About us Section */
.little-aboutUs {
    margin-top: 3rem;
    display: flex;
    gap: 3rem;
}

.little-aboutUs img {
    width: 25rem;
    height: 20rem;
    border-radius: .5rem;
}

.about-text p {
    line-height: 1.5rem;
    font-size: 1rem;
    margin: 1rem 0;
}

.about-text h2 {
    font-weight: 600;
}

/* Beautiful Moments Captured Section */
.beautiful-moments {
    margin-top: 3rem;
}

.beautiful-moments h2 {
    font-size: 2rem;
}

.img-gallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.img-gallery img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
}

.gallery1 {
    grid-column: 1/3;
    grid-row: 1/4;
}

.gallery2 {
    grid-column: 3/5;
}

/*****FOOTER*****/
.footer {
    display: flex;
    width: 100%;
    background-color: #10213B;
    height: 30rem;
    margin-top: 3rem;
    color: white;
}

.footer-content {
    display: flex;
    width: 69rem;
    margin: 0 auto;
    gap: 5rem;
    align-items: baseline;
    margin-top: 2rem;
    line-height: 2.2rem;
}

.footer ul {
    list-style: none;
}

.footer li {
    cursor: pointer;
}

.footer li:hover {
    color: #A2C04C;
}

.footer-content p,
li {
    font-weight: 200;
}

.footer-content h3 {
    font-weight: 600;
}

.follow,
.resources,
.progress,
.newsletter {
    width: 20rem;
}

.follow img {
    margin-bottom: 1rem;
}

.follow i {
    font-size: 1.3rem;
    margin-right: 1rem;
    cursor: pointer;
}

.newsletter input {
    padding: .5rem;
    width: 13rem;
    margin-bottom: .5rem;
    border-radius: .3rem;
}

.newsletter input:nth-child(4) {
    background-color: #25B34D;
    color: white;
    cursor: pointer;
    transition: background-color .3s linear;
}

.newsletter input:nth-child(4):hover {
    background-color: #1ecf50;

}